@page "/HomePageProtected"
@inject ILoginService mlogin
@inject NavigationManager navMan
@using global::SemesterWorkshop.Service.Login
@using Shared
@using SemesterWorkshop.Service
<PageTitle>Tøj list</PageTitle>

<h1>clothingItems</h1>

@if (toj== null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">

        <tbody>
        @foreach (var toj in toj)
        {
            <tr class="bikeRow">
                <td><h2>@toj.Type - @toj.farve. -  @toj.size - @toj.status </h2><br />
                    Price: @toj.pris kr.</td>
                <td><img class="bikeImg" src="@toj.imageUrl" width="200px"/></td>
                <td><button class="btn-primary" @onclick="() => DeleteBike(toj)">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
    @if (currentUser != null && currentUser.Role.Equals("admin"))
    {
        <button class="btn-primary" @onclick="NavigateToAdd">Add</button>
    }
}

@code {

    private Toj[]? toj;

    User? currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await mlogin.GetUserLoggedIn();
        if (currentUser == null)
            navMan.NavigateTo("login/bikeprotected");

        await LoadAll();
    }

    private async Task LoadAll()
    {
        toj = await mService.GetAll();
    }

    private void NavigateToAdd()
    {
        navMan.NavigateTo("additem");
    }

    private async Task DeleteBike(Toj toj)
    {
        await mService.DeleteById(toj.Id);
        await LoadAll();

    }

}